@font-face {font-family: "ico";
  src:url('iconfont.ttf?t=1562058863598') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.ico {
  font-family: "ico" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-iconfont5:before {
  content: "\e63a";
}

.ico-gouwuche:before {
  content: "\e63f";
}

.ico-gouwuchetianjia:before {
  content: "\e640";
}

.ico-lajixiang:before {
  content: "\e645";
}

.ico-lianjie:before {
  content: "\e646";
}

.ico-naozhong:before {
  content: "\e648";
}

.ico-saoyisao:before {
  content: "\e649";
}

.ico-shezhi:before {
  content: "\e64b";
}

.ico-shouye:before {
  content: "\e64f";
}

.ico-shuaxin:before {
  content: "\e650";
}

.ico-sousuo:before {
  content: "\e651";
}

.ico-suo:before {
  content: "\e652";
}

.ico-wodedingdan:before {
  content: "\e655";
}

.ico-wodehongbao:before {
  content: "\e657";
}

.ico-wodeyouhuiquan:before {
  content: "\e65a";
}

.ico-yijianfankui:before {
  content: "\e662";
}

.ico-zhaoxiangji:before {
  content: "\e663";
}

.ico-xiaoxizhongxin:before {
  content: "\e665";
}

.ico-lingcunwei:before {
  content: "\e666";
}

